.DS_Store
.pio
.pioenvs
.piolibdeps
node_modules
dist
AGENTS.md
index.html.gz
.venv

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local secrets
src/secrets.h
